body{
  font-family: sans-serif;
  background-color: #f0f0f0;
  color: #1d3557;
  margin: 0px;
  padding: 0px;
  text-align: center;
  font-size: 24px;
}

header {
    background-color: #e63946;
    color: white;
    padding: 20px;
}

a {
    margin: 10px;
    color: white;
}

main {
    padding: 30px;
}

li{
    color: black;
}
/*Зроби цей сайт красивим 😉*/
img {
    width: 500px
}

footer {
    background-color: #e63946;
    color: white;
    padding: 10px;
}
